.row { 
	max-width:1100px; margin: 0 auto;
}

.container { 
	height:75 px; display:flex; flex-wrap:wrap; padding-bottom:10px;
}

.col-4 { 
	width:40%; display:flex; flex-wrap:wrap; justify-content:center; align-items:center;
}

.col-4 h1 {
line-height:65px; font-family: 'Open Sans', sans-serif; padding-left:10px;
}

.col-8 {
	width:59%; display:flex; flex-wrap:wrap; justify-content:center; align-items:center;
}

.container-2 {
	height:440px; display:flex; flex-wrap:wrap;
}

.col-6 {
	width:440px; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; border-radius:50%;
}

.contact-box {
	background-color:#CFCFCF;
}

.about-box {
	background-color:#E6E6FA;
}

@media screen and (max-width:900px) {
	.container { 
		height:150px;
	}	
	.col-4 { 
		height:75px; width:100%;
	}	
	.col-8 {
		height:75px; width:100%;
	}
	.container-2 {
	height:880px; border:1px solid black;
	}
	.col-6 {
	width:440px; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; border-radius:50%;
	}
	.contact-box {
	
	}
}

@media screen and (max-width:500px) {
	.container {
		height:150px;
	}
	.col-4 { 
		height: 75px; width:100%;
	}
	.col-8 {
		height:75px;
	}
	.container-2 {
	height:490px; border:1px solid black;
	}
	.col-6 {
	width:245px; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; border-radius:50%;
	}
	.contact-box {
	
	}
}

.col-8 a {
	padding: 10px 80px 10px 30px; font-family: 'Open Sans', sans-serif; text-decoration:none; color:black;
}

.col-8 a:hover {
    text-decoration:underline;
    color: #CCCCCC;
}



#contact {
	
}

