body { margin-top:0; padding:0; max-width:1300px; margin-right:auto; margin-left:auto;
}


header{ 
	background-color:#1A1A1A; 
}

/* title and navigation bar styling */

.title-col {
      color:white; height:75px; line-height:65px; font-family: 'Open Sans', sans-serif;
}

.title-col h2 {display:inline-block; vertical-align:middle; float:none;
}


ul {
    list-style-type: none;
    margin: 5%;
    padding: 5px;
}

li {
    float: left;
}

li a {
    display: block; padding: 5px 10px 10px 10px; color:white; margin: 20px 30px 20px 30px; font-family: 'Open Sans', sans-serif;
}

li a:hover {
    text-decoration:underline;
    color: #CCCCCC;
}

/* body element styling with bootstrap */

p#bio {
	height:440px; background-color:#778899; padding:35px;
}

p#bluetext {
	background-color:#E0FFFF; height:200px; padding:60px 30px 60px 30px; 
}

p#redtext {
	padding:60px 30px 50px 30px; background-color:#E1EEE1; height:200px;
}

#spanbold {
	font-weight:bold;
}

 p#linkbox {
	background-color:#EEF3E2; height:200px; position:relative;
}

 img#in {
		width:100px; Height:80px; position: absolute;
		top:50%; left:50%; margin-right: -50%; transform:translate(-50%,-50%)
 }
 p#nbox { 
 background-color:#ECF1EF; height:440px; position:relative;
 }

 img#nature {
		max-width: 85%; height:90%; position: absolute;
		top:50%; left:50%; margin-right: -50%; transform:translate(-50%,-50%)
 }